---
import BaseHead from "@components/BaseHead.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "@consts";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import FormattedDate from "@components/FormattedDate.astro";
import BaseHTML from "@layouts/BaseHTML.astro";

const posts = (await getCollection("post")).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<BaseHTML>
	<BaseHead slot="header" title={SITE_TITLE} description={SITE_DESCRIPTION} />
	<div class="flex flex-col gap-24 max-w-xl prose-a:no-underline prose-a:font-normal">
		{
			posts.map((post) => (
				<a href={`/post/${post.slug}/`} class="flex flex-col gap-2">
					{/* <h3 class="text-3xl my-0">{post.data.title}</h3> */}
					<h1 class="mb-2">{post.data.title}</h1>
					<FormattedDate class="italic text-sm" date={post.data.pubDate} />
					<Image
						width={720}
						height={360}
						src={post.data.heroImage}
						alt="Cover image"
						style={`aspect-ratio: ${1.5};`}
						class="object-cover rounded-lg m-0"
					/>
					<div class="prose dark:prose-invert">{post.data.description}</div>
				</a>
			))
		}
	</div>
</BaseHTML>
